@import url(variables.css);

body{
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color: var(--lightsage);
  color: var(--soil);
}

#header{
  margin-top: -3.5rem;
  border: double 0.5rem;
  font-size: var(--h1);
  background-color: var(--cream);
  padding: 0rem;
}

@media  screen and (max-width: 800px) {
  .box{
      width: 40%;
      background-color: darkcyan;
  }

}

@media screen and (max-width: 600px){
  .box{
      width:80%;
      background-color: darksalmon;
  }
}

@media screen and (max-width: 400px){
  .box{
      width: 100%;
background-color: ;
  }
}

